.git
.env
.env.backup
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
storage/app/visits/*
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
.phpunit.result.cache
