/node_modules
/public/plugins/*
!/public/plugins/
!/public/plugins/flaticon/
!/public/plugins/flaticon/**
!/public/plugins/flaticon2/
!/public/plugins/flaticon2/**
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
