  .custom-bg {
      background-color: #204474 !important;

  }

  .custom-ct {
      color: #fff !important;
  }

  .custom-b {
      border-color: #204474 !important;
      border-width:2px !important;
  }

